@import url("https://fonts.googleapis.com/css?family=Cabin");

html {
height: -webkit-fill-available;
}

/*------------------------------------------------------------------
[ Main contact page ]*/
.contact-page {
	position: absolute;
  width: 100vw;
	min-height: 100vh;
	height: 100%;
	height: -webkit-fill-available;
  background: #fff;
  display: flex;
	flex-wrap: wrap;
	z-index: -1; /* puts whole contact page behind burger */
	/* border: 2px blue solid; /* puts contact page behind burger */

	touch-action: none !important;;
	-webkit-overflow-scrolling: none !important;;
	overflow: hidden !important;;
	/* Other browsers */
	overscroll-behavior: none !important;
}



/*------------------------------------------------------------------
[ Contact page info - linkedIn etc ]*/
table {
	position: relative;
	margin: 0 auto;
		-ms-transform: translateY(-50%);
  transform: translateY(-50%);
	top: 50%;
	color: white;
	font-size: calc(.4rem + .6vh);
	letter-spacing: 1px;
}


table, th, td {
  border-collapse: collapse;
	padding: 1vh;
	/* border: 2px solid yellow;*/
}

td {
  text-align: left;
}

th, img {
  text-align: center;
}

td a {
	text-decoration: none;
	color: 	#40E0D0;
}

td a:hover {
	text-decoration: underline;
}

.table-title {
  text-align: left;
}

.contact-svg {
	width: 3.5vh;
;
}

.email-msg {
	position: absolute;
	width: 70%;
	left: 50%;
	bottom: 10%;
	transform: translateX(-50%);
	margin: 0 auto;
	text-align: center;
	color: white;
	visibility: hidden;
	font-size: calc(.4rem + .6vh);
	letter-spacing: 1px;
  /*border: 2px solid yellow;*/
	word-wrap: break-word;

}

.left-side {
  width: 45vw; /* page ratio between left/right sides */
	min-height: 100vh;
	height: 100%;
	height: -webkit-fill-available;
  background-size: cover;
  background-position: center;
	/* form background image ^ */
  position: relative;
}





/*----------------------------------------------------------------
[ Mouse scroll animation ]*/
.scroll-downs {
	visibility: hidden;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 22.5vh;
	margin: 0 auto;
}

.mousey {
  padding: 10px;
  height: 3.5vh;
  border: 2px solid #fff;
  border-radius: 15px;
  opacity: 0.75;
  box-sizing: content-box;
}

.scroller {
  width: 3px;
  height: 8px;
  border-radius: 20%;
  background-color: #fff;
  animation-name: scroll;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(.15,.41,.69,.94);
  animation-iteration-count: infinite;
}

@keyframes scroll {
  0% { opacity: 0; }
  10% { transform: translateY(0); opacity: 1; }
  100% { transform: translateY(15px); opacity: 0;}
}



/*----------------------------------------------------------------
[ Contact page form ]*/
.right-side {
  width: 55vw;/* page ratio between left/right sides */
	min-height: 100vh;
	height: 100%;
	height: -webkit-fill-available;
  flex-wrap: wrap;
	box-sizing: border-box;
	/*border: 2px orange solid;*/
}

form {
	position: relative;
		margin: 0 auto;
		-ms-transform: translateY(-50%);
  transform: translateY(-50%);
	top: 50%;
	color: white;
	font-size: calc(.5rem + .7vh);
	letter-spacing: 1px;
	margin: 0 5% 0 5%;
	/*border: black solid 3px;*/
}

.form-title {
  width: 100%;
  display: block;
  color: black;
  text-align: center;
  font-size: calc(1rem + 1vh);
	margin-top: 1.5vh;
  /*border: 1px solid black;*/
}




/*------------------------------------------------------------------
[ Form Input ]*/
input, textarea {
	outline: none;
	border: none;
	padding: 0;
	margin: 0;
}

textarea {
	height: 15vh;
	resize: vertical;
}

.form-fields {
  width: 100%;
  position: relative;
  border: 1px solid #cccccc;
  margin-bottom: 1vh;
	padding: 1.5vh;
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
     box-sizing: border-box;
}

.form-text {
  font-size: calc(.4rem + .6vh);
  color: black;
  text-transform: uppercase;
  letter-spacing: 1%;
  display: flex;
  align-items: center;
  width: 100%;
  border: 1px solid #cccccc;
  border-bottom: none;
	padding: 1.5vh;
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
     box-sizing: border-box;
}

.input100 {
  display: block;
  width: 100%;
  background: transparent;
  font-size: calc(.4rem + .6vh);
  line-height: 1.2;
	font-family: 'Cabin', sans-serif;
}

.input100:focus {
  visibility: visible;
  opacity: 1;
}

::placeholder {
  color: #C0C0C0	;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: #C0C0C0	;
}

::-ms-input-placeholder { /* Microsoft Edge */
 color: #C0C0C0	;
}

/*------------------------------------------------------------------
[ Form submit button ]*/
.contact-form-btn { /* centres button */
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* button styling */
.send-btn {
	display: list-item;
	background: black;
	color:white;
	background-color: black;
	border: none;
	padding: 2vh 5vh;
	text-align: center;
	cursor: pointer;
	transition-duration: 0.2s;
	-webkit-transition-duration: 0.2s;
	border-radius: 40px;
	text-decoration: none;
	font-size: calc(.4rem + .5vh);
	text-transform: uppercase;
	font-family: 'Cabin', sans-serif;
}

/* button hover */
.send-btn:hover {
	background: white;
	color: black;
	border: .5px black solid;
	box-shadow: 3px black inset;
	cursor: pointer;
}

/*------------------------------------------------------------------
[ Form Submit Validation ]*/
.alert {
	position: relative;
	margin-bottom: 1rem;
	border-radius: 0.25rem;
}

.alert-danger{
	color: #721c24;
	background-color: #f8d7da;
	border-color: #f5c6cb;
}

.alert-danger hr {
	border-top-color: #f1b0b7;
}

.alert-success {
	color: #155724;
	background-color: #d4edda;
	border-color: #c3e6cb;
}

.alert-success hr {
	border-top-color: #b1dfbb;
}

.text-center {
	text-align: center !important;
}







/*------------------------------------------------------------------
[ Responsiveness ]*/
@media (max-width: 768px) {
.contact-page{
		touch-action: auto !important;;
		-webkit-overflow-scrolling: auto !important;;
		overflow: auto !important;;
		/* Other browsers */
		overscroll-behavior: auto !important;
	/* Scroll snap */
	scroll-snap-type: y mandatory;
	overflow-y: scroll;
	}

	.right-side {
	  width: 100vw; /* ensures each side fills 100% of viewport on mobile*/
		min-height: 100vh;
		height: 100%;
		height: -webkit-fill-available;
		box-sizing: border-box;
				/* Scroll snap */
		scroll-snap-align: start;
	}

  .left-side {
    width: 100vw; /* ensures each side fills 100% of viewport on mobile*/
		min-height: 100vh;
		height: 100%;
		height: -webkit-fill-available;
		box-sizing: border-box;
				/* Scroll snap */
		scroll-snap-align: start;
  }

	table{
		-ms-transform: translateY(-35%);
	transform: translateY(-35%);
	top: 35%;
	}

	.scroll-downs {
		visibility: visible;
	}

	.email-msg {
		visibility: visible;
	}

	textarea {
		height: 10vh;
	}

}
